{% extends "layout.html" %}

{% block content %}

      <div id="content">
        <div id="cita">
            <h1>Corporate Income Tax Automation</h1>
            <p>

Implemented an automated electronic tax processing system for an insurance company.
Responsibilities: Developed Java Server Pages (JSP) and HTML pages for the client side operations. Also used JavaScript for client side form validations. Separation of the business logic and data access logic using DAO pattern. Defect logging and tracking and prevention. Implemented the logging mechanism using Log4j to increase ease of maintenance of the application. Implemented a utility using Java Mail which resulted in elimination of a manual task and saved time and efforts.


            </p>


    </div></div>

      <div id="content">
        <div id="aeb">
                        <h1>AE Broker</h1>

            <p>

                Project: AE Broker / Agent Benefits (Java, Struts 2.0, Hibernate 3, MySQL, JUnit, Maven, HTML, CSS, Tomcat)
	Implemented and maintained a web based system for an insurance company, which specializes in quality services for, brokers, agents and policy members to manage various benefits.
	Implemented the business logic and server side validations for broker module using Struts framework and various design patterns. Created user interface using JSP and performed validations using JavaScript. Defect logging, tracking and prevention. Implemented the logging mechanism using Log4j.
	Implemented the data access logic using Hibernate object relational mapping framework


            </p>

    </div>
</div>

      <div id="content">
        <div id="lifelens">
                        <h1>Lifelens V2</h1>

           <p>
               Project: Lifelens V2 (Java, JSP, JavaScript, Spring, Oracle, JUnit, Struts, WebSphere, Servlets)
	Implemented a wealth management web portal for a financial services company which provides a solution to manage the benefits which employees get at their workplaces.
	Implemented business logic using Struts and Spring framework, Java and SQL stored procedures.
	Wrote quality test cases using JUnit. Developed GUI using JSP, HTML, CSS and JavaScript.
	Optimized SQL queries to reduce the report extraction time to half. Identified and fixed security loop holes in the application.

           </p>

    </div>

</div>
      <div id="content">
        <div id="photomate">
                        <h1>Photomate</h1>

           <p>

               PhotoMate:  (Android, Node.js, Amazon EC2, Facebook sdk, MongoDB)
Implemented an android photo sharing app using which a user can login with his facebook account, click and store pictures, share them with friends.

           </p>
        </div>


</div>
      <div id="content">
        <div id="smartReceiptEditor">
                        <h1>SmartReceiptEditor</h1>

           <p>

               SmartReceiptEditor: (Android, HTML5, JQuery, JavaScript, Node.js, AJAX, Bootstrap, D3.js, highcharts) Implemented an android application and  a highly responsive web application which uses Optical Character Recognition to scan a receipt to fetch item and prices in an editable format. This application stores the expenses and maintains analysis report of user’s expenses and shows the expenses report to the user in different chart formats.


           </p>
        </div>

</div>
      <div id="content">
        <div id="watchdog">
            <h1>  Watchdog for electronic devices and appliances</h1>
            <p>

                Watchdog for electronic devices and appliances: (AngluarJs, Android, Node.js, MongoDB, Apache Spark):
Implementing a web and mobile application which monitors health of electronic devices and appliances and predicts future health issues a device may face based on usage pattern.

            </p>
        </div>
      </div>
{% endblock %}
